.design{
    background: #fff;
    padding: 20px;
    width: 100%;
    max-width: 460px;
    margin: 30px auto;
}
.design ul li{
    list-style: none;
    border: 1px solid #ccc;
    padding: 22px;
    margin-bottom: 15px;
}